workflow/content-pipeline-v0.3.json
{
  "name": "content-pipeline-v0.3",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const MAX_RETRIES = 2;\n\nreturn $input.all().map(item => {\n  // If valid, pass through unchanged\n  if (item.json.validation_status === 'VALID') {\n    return { json: item.json };\n  }\n\n  // Failed item — check retry count\n  const retryCount = (item.json.retry_count || 0) + 1;\n\n  if (retryCount > MAX_RETRIES) {\n    return {\n      json: {\n        ...item.json,\n        state: 'QUARANTINED',\n        retry_count: retryCount,\n        last_error: `Quarantined after ${MAX_RETRIES} retries. Last error: ${item.json.last_error}`,\n        updated_at: new Date().toISOString()\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...item.json,\n      state: 'FAILED_LLM',\n      retry_count: retryCount,\n      updated_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        16
      ],
      "id": "60399d5b-854a-4920-888c-1d0d5c0857c1",
      "name": "Retry Logic"
    },
    {
      "parameters": {
        "content": "CONTENT REPURPOSING PIPELINE — V0.1\nMonitors an RSS feed every 15 minutes. For each new article, generates multi-channel \ncontent drafts (Twitter, LinkedIn, newsletter, titles, hashtags) via OpenAI, then \nroutes to a human approval gate before publishing. Built with idempotency, schema \nvalidation, retry logic, and full state tracking.",
        "height": 176,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -32
      ],
      "typeVersion": 1,
      "id": "8459acd9-991f-446a-a4c6-580afc7618f1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "RSS INGESTION\nFetches the TechCrunch RSS feed and parses XML to JSON. Extracts the 5 most recent articles.\n Computes a source_hash (normalized URL + publish date) used as the idempotency key throughout the pipeline.",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        -176
      ],
      "typeVersion": 1,
      "id": "3cfa7bf0-e8a2-4779-8156-01b58253736f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "DEDUPLICATION GATE\nReads all existing rows from the sheet before processing. Cross-references each \nincoming source_hash against known items entirely in memory. Only articles with no \nexisting record proceed — all others are silently skipped. Prevents reprocessing \non every 15-minute trigger cycle.",
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -192
      ],
      "typeVersion": 1,
      "id": "e447e4da-792a-4ed4-b0a3-21b2c1d502f5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "LLM GENERATION + VALIDATION\nBuilds a deterministic content block from article metadata  and full article body, sending it to gpt-4o-mini with a strict JSON schema prompt. The response is parsed and validated \nagainst required fields and types. Failed items increment a retry counter — items \nexceeding 2 retries are quarantined. Valid items advance to GENERATED state.",
        "height": 192,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        -256
      ],
      "typeVersion": 1,
      "id": "ac489e0d-a488-47e4-aecd-26d392c43597",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "HUMAN APPROVAL GATE\nSets state to PENDING_APPROVAL and sends a structured email notification containing \nall generated content for review. No content proceeds to publishing without explicit \nhuman approval. State is persisted to the sheet after notification is sent.",
        "height": 144,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2464,
        -224
      ],
      "typeVersion": 1,
      "id": "f11ded17-b3a7-43be-8ca5-81b94a9f344e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "APPROVAL + PUBLISH WORKFLOW\nRuns every 15 minutes independently of the main workflow. Scans all sheet rows for \nitems in APPROVED state with no published_at timestamp. For each approved item, \ngenerates a structured Google Doc draft and records the destination URL. Guarded \nagainst double-publishing.",
        "height": 176,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        400
      ],
      "typeVersion": 1,
      "id": "44c48af1-1a00-446f-a0de-7c9095bcaa04",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "PUBLISH GUARD\nTwo-condition check: state must equal APPROVED and published_at must be empty. \nBoth conditions must be true for an item to proceed. Ensures that approved items \nare never published twice even if the workflow runs multiple times.",
        "height": 144,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        272
      ],
      "typeVersion": 1,
      "id": "03865f6a-c8be-434d-b182-cf294ec8bef4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "DRAFT CREATION + STATE CLOSE\nBuilds a formatted Google Doc containing all five content outputs. Creates the \ndocument in the designated Drive folder, writes content in a second pass (Google \nDocs API constraint), then updates the sheet row with state PUBLISHED, the \ndocument URL, and a published_at timestamp to close the state machine.",
        "height": 192,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        224
      ],
      "typeVersion": 1,
      "id": "8a3b0a81-524a-4385-8db9-b317615b0c0b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        0
      ],
      "id": "5f5702fe-84de-4442-af7b-36357d33dc75",
      "name": "RSS Fetch",
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "bb78c7e7-ebbc-4b1a-a3cb-6fbd90307322",
      "name": "XML Parse"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "351c6f54-e7a4-4937-96d7-a998dee9c4f0",
      "name": "Sheet: Read All Rows",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3QUFNRJGXgt1HPv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function simpleHash(str) {\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16).padStart(8, '0');\n}\n\nfunction randomId() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// Get all existing hashes from sheet\nconst sheetRows = $input.all();\nconst existingItems = {};\nsheetRows.forEach(row => {\n  if (row.json.source_hash) {\n    existingItems[row.json.source_hash] = row.json.state || '';\n  }\n});\n\n// Extract items from all XML Parse outputs\nconst allParsed = $('XML Parse').all();\nconst allItems = [];\n\nallParsed.forEach(parsed => {\n  const data = parsed.json;\n\n  if (data.rss && data.rss.channel) {\n    // TechCrunch / standard RSS\n    const channel = data.rss.channel;\n    const items = Array.isArray(channel.item) ? channel.item : [channel.item];\n    items.slice(0, 3).forEach(item => {\n      const url = typeof item.link === 'object' ? item.link._ || '' : item.link || '';\n      allItems.push({\n        url: url,\n        title: item.title || '',\n        pubDate: item.pubDate || ''\n      });\n    });\n  } else if (data.feed && data.feed.entry) {\n    // YouTube Atom feed\n    const entries = Array.isArray(data.feed.entry) ? data.feed.entry : [data.feed.entry];\n    entries.slice(0, 2).forEach(entry => {\n      const url = entry.link && entry.link.href ? entry.link.href : '';\n      allItems.push({\n        url: url,\n        title: entry.title || '',\n        pubDate: entry.published || ''\n      });\n    });\n  }\n});\n\nreturn allItems.map(item => {\n  const normalized = item.url.trim().toLowerCase();\n  const hash = simpleHash(normalized + item.pubDate);\n  const existingState = existingItems[hash] || '';\n  const isNew = !existingState;\n\n  return {\n    json: {\n      source_hash: hash,\n      source_url: item.url,\n      source_title: item.title,\n      source_published_at: item.pubDate,\n      correlation_id: randomId(),\n      created_at: new Date().toISOString(),\n      is_new: isNew,\n      existing_state: existingState\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "533b1804-4f40-44b2-a580-b1febfc03edd",
      "name": "Dedup Gate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fefd9cfe-6929-48f6-953b-e17394bf9024",
              "leftValue": "={{ $json.is_new }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        48
      ],
      "id": "8e04bc2c-4b53-4890-9eb3-2ec4a2bab6b0",
      "name": "If: Is New"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      state: 'NEW',\n      retry_count: 0,\n      last_error: '',\n      prompt_version: 'v1.0',\n      model: 'gpt-4o-mini',\n      llm_output_raw: '',\n      validation_status: '',\n      generation_attempt: 0,\n      approval_form_url: '',\n      approved_by: '',\n      approved_at: '',\n      published_at: '',\n      draft_destination_url: '',\n      updated_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "304ec1a8-48d3-4663-923b-5c96a83ef5dd",
      "name": "Init: Full Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        112
      ],
      "id": "f4a900d6-d77f-4087-8ecd-13de02ad2a42",
      "name": "Article Fetch",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const html = item.json.data || '';\n\n  const pipelineFields = {\n    source_hash: item.json.source_hash,\n    source_url: item.json.source_url,\n    source_title: item.json.source_title,\n    source_published_at: item.json.source_published_at,\n    correlation_id: item.json.correlation_id,\n    created_at: item.json.created_at,\n    state: item.json.state,\n    retry_count: item.json.retry_count,\n    last_error: item.json.last_error,\n    prompt_version: item.json.prompt_version,\n    model: item.json.model,\n    llm_output_raw: item.json.llm_output_raw,\n    validation_status: item.json.validation_status,\n    generation_attempt: item.json.generation_attempt,\n    approval_form_url: item.json.approval_form_url,\n    approved_by: item.json.approved_by,\n    approved_at: item.json.approved_at,\n    published_at: item.json.published_at,\n    draft_destination_url: item.json.draft_destination_url,\n    updated_at: item.json.updated_at,\n  };\n\n  if (!html || html.length < 100) {\n    return {\n      json: {\n        ...pipelineFields,\n        article_body: '',\n        article_fetch_status: 'FAILED',\n      }\n    };\n  }\n\n  let text = html.replace(/<(script|style|noscript|head|meta|link)[\\s>][^]*?<\\/\\1>/gi, '');\n  text = text.replace(/<[^>]+>/g, ' ');\n  text = text\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&#(\\d+);/g, (match, dec) => String.fromCharCode(dec))\n.replace(/&#x([0-9a-f]+);/gi, (match, hex) => String.fromCharCode(parseInt(hex, 16)));\n\n  text = text\n    .split('\\n')\n    .map(line => line.replace(/[ \\t]+/g, ' ').trim())\n    .filter(line => line.length > 0)\n    .join('\\n');\n\n  text = text.replace(/\\n{3,}/g, '\\n\\n').trim();\n\n  if (text.replace(/\\s/g, '').length < 100) {\n    return {\n      json: {\n        ...pipelineFields,\n        article_body: '',\n        article_fetch_status: 'FAILED',\n      }\n    };\n  }\n\n  const truncated = text.length > 3000 ? text.slice(0, 3000) + '...' : text;\n\n  return {\n    json: {\n      ...pipelineFields,\n      article_body: truncated,\n      article_fetch_status: 'SUCCESS',\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        112
      ],
      "id": "06a1bd89-045e-4888-816f-b863badac9a5",
      "name": "HTML Strip"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_hash": "={{ $('Dedup Gate').item.json.source_hash }}",
            "source_url": "={{ $('Dedup Gate').item.json.source_url }}",
            "source_title": "={{ $('Dedup Gate').item.json.source_title }}",
            "source_published_at": "={{ $('Dedup Gate').item.json.source_published_at }}",
            "state": "=",
            "retry_count": "=",
            "last_error": "=",
            "prompt_version": "=",
            "model": "=",
            "llm_output_raw": "=",
            "validation_status": "=",
            "generation_attempt": "=",
            "approval_form_url": "=",
            "approved_by": "=",
            "approved_at": "=",
            "published_at": "=",
            "draft_destination_url": "=",
            "correlation_id": "=",
            "created_at": "={{ $('Dedup Gate').item.json.created_at }}",
            "updated_at": "=",
            "article_body": "={{ $json.article_body }}",
            "article_fetch_status": "={{ $json.article_fetch_status }}"
          },
          "matchingColumns": [
            "source_hash"
          ],
          "schema": [
            {
              "id": "source_hash",
              "displayName": "source_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_title",
              "displayName": "source_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_published_at",
              "displayName": "source_published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_output_raw",
              "displayName": "llm_output_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validation_status",
              "displayName": "validation_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_attempt",
              "displayName": "generation_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approval_form_url",
              "displayName": "approval_form_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft_destination_url",
              "displayName": "draft_destination_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "article_body",
              "displayName": "article_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "article_fetch_status",
              "displayName": "article_fetch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        16
      ],
      "id": "7ea0871e-753c-4c6c-9498-350649e3dafa",
      "name": "Sheet: Upsert New",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3QUFNRJGXgt1HPv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const title = item.json.source_title || '';\n  const url = item.json.source_url || '';\n  const pubDate = item.json.source_published_at || '';\n  const articleBody = item.json.article_body || '';\n  const fetchStatus = item.json.article_fetch_status || 'FAILED';\n\n  const cleanTitle = title\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 200);\n\n  // Include article body if fetch succeeded, fall back to title-only\n  const contentBlock = fetchStatus === 'SUCCESS' && articleBody\n    ? `Title: ${cleanTitle}\\nPublished: ${pubDate}\\nURL: ${url}\\n\\nArticle Body:\\n${articleBody}`\n    : `Title: ${cleanTitle}\\nPublished: ${pubDate}\\nURL: ${url}`;\n\n  return {\n    json: {\n      ...item.json,\n      preprocessed_content: contentBlock,\n      state: 'PREPROCESSED',\n      updated_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        16
      ],
      "id": "749743bc-e254-4e0b-a1a6-7fb150730b00",
      "name": "Preprocess"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const content = item.json.preprocessed_content;\n\n  const body = {\n    model: \"gpt-4o-mini\",\n    max_tokens: 1000,\n    messages: [\n      {\n        role: \"system\",\n        content: \"You are a content repurposing assistant. Given an article title, metadata, and full article body, generate multi-channel marketing content. You must respond with valid JSON only. No prose, no markdown, no code fences. Only the JSON object.\"\n      },\n      {\n        role: \"user\",\n        content: `${content}\\n\\nRespond with a JSON object containing exactly these fields:\\n{\\n  \"twitter_thread\": [\"tweet 1\", \"tweet 2\", \"tweet 3\"],\\n  \"linkedin_post\": \"string, max 1300 chars\",\\n  \"newsletter\": \"string, max 500 chars\",\\n  \"title_options\": [\"option 1\", \"option 2\", \"option 3\"],\\n  \"hashtags\": [\"tag1\", \"tag2\", \"tag3\", \"tag4\", \"tag5\"]\\n}`\n      }\n    ]\n  };\n\n  return {\n    json: {\n      source_hash: item.json.source_hash,\n      source_url: item.json.source_url,\n      source_title: item.json.source_title,\n      source_published_at: item.json.source_published_at,\n      correlation_id: item.json.correlation_id,\n      created_at: item.json.created_at,\n      state: item.json.state,\n      retry_count: item.json.retry_count,\n      last_error: item.json.last_error,\n      prompt_version: item.json.prompt_version,\n      model: item.json.model,\n      llm_output_raw: item.json.llm_output_raw,\n      validation_status: item.json.validation_status,\n      generation_attempt: item.json.generation_attempt,\n      approval_form_url: item.json.approval_form_url,\n      approved_by: item.json.approved_by,\n      approved_at: item.json.approved_at,\n      published_at: item.json.published_at,\n      draft_destination_url: item.json.draft_destination_url,\n      article_body: item.json.article_body,\n      article_fetch_status: item.json.article_fetch_status,\n      preprocessed_content: item.json.preprocessed_content,\n      request_body: body\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        16
      ],
      "id": "1d7eb7b2-9037-4982-8b21-31e77e6ad5c1",
      "name": "Build OpenAI Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request_body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2416,
        16
      ],
      "id": "54cc9e8e-8992-4b9d-a0a1-1e60a3d02039",
      "name": "OpenAI: Generate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZCRb5n3oWiWVYBcF",
          "name": "Header Auth account"
        },
        "openAiApi": {
          "id": "9SNDsizlkHVMO91X",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const REQUIRED_FIELDS = ['twitter_thread', 'linkedin_post', 'newsletter', 'title_options', 'hashtags'];\n\nreturn $input.all().map(item => {\n  const upstream = $('Build OpenAI Request').item.json;\n\nconst pipelineFields = {\n  source_hash: upstream.source_hash,\n  source_url: upstream.source_url,\n  source_title: upstream.source_title,\n  source_published_at: upstream.source_published_at,\n  correlation_id: upstream.correlation_id,\n  created_at: upstream.created_at,\n  state: upstream.state,\n  retry_count: upstream.retry_count,\n  last_error: upstream.last_error,\n  prompt_version: upstream.prompt_version,\n  model: upstream.model,\n  llm_output_raw: upstream.llm_output_raw,\n  validation_status: upstream.validation_status,\n  generation_attempt: upstream.generation_attempt,\n  approval_form_url: upstream.approval_form_url,\n  approved_by: upstream.approved_by,\n  approved_at: upstream.approved_at,\n  published_at: upstream.published_at,\n  draft_destination_url: upstream.draft_destination_url,\n  article_body: upstream.article_body,\n  article_fetch_status: upstream.article_fetch_status,\n};\n\n  const raw = item.json.choices?.[0]?.message?.content || '';\n  let parsed = null;\n  let lastError = '';\n\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    lastError = `JSON parse failed: ${e.message}`;\n    return {\n      json: {\n        ...pipelineFields,\n        llm_output_raw: raw,\n        validation_status: 'INVALID',\n        last_error: lastError,\n        state: 'FAILED_LLM',\n        updated_at: new Date().toISOString()\n      }\n    };\n  }\n\n  const missingFields = REQUIRED_FIELDS.filter(f => !(f in parsed));\n  if (missingFields.length > 0) {\n    lastError = `Missing fields: ${missingFields.join(', ')}`;\n    return {\n      json: {\n        ...pipelineFields,\n        llm_output_raw: raw,\n        validation_status: 'INVALID',\n        last_error: lastError,\n        state: 'FAILED_LLM',\n        updated_at: new Date().toISOString()\n      }\n    };\n  }\n\n  if (!Array.isArray(parsed.twitter_thread)) lastError += 'twitter_thread must be array. ';\n  if (typeof parsed.linkedin_post !== 'string') lastError += 'linkedin_post must be string. ';\n  if (typeof parsed.newsletter !== 'string') lastError += 'newsletter must be string. ';\n  if (!Array.isArray(parsed.title_options)) lastError += 'title_options must be array. ';\n  if (!Array.isArray(parsed.hashtags)) lastError += 'hashtags must be array. ';\n\n  if (lastError) {\n    return {\n      json: {\n        ...pipelineFields,\n        llm_output_raw: raw,\n        validation_status: 'INVALID',\n        last_error: lastError.trim(),\n        state: 'FAILED_LLM',\n        updated_at: new Date().toISOString()\n      }\n    };\n  }\n\n  return {\n    json: {\n      ...pipelineFields,\n      llm_output_raw: raw,\n      twitter_thread: parsed.twitter_thread,\n      linkedin_post: parsed.linkedin_post,\n      newsletter: parsed.newsletter,\n      title_options: parsed.title_options,\n      hashtags: parsed.hashtags.map(tag => tag.startsWith('#') ? tag : '#' + tag),\n      validation_status: 'VALID',\n      last_error: '',\n      state: 'GENERATED',\n      generation_attempt: (item.json.generation_attempt || 0) + 1,\n      updated_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        16
      ],
      "id": "6b8f83a7-9ca4-4cef-a17c-3ec169a7c6a6",
      "name": "Parse + Validate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a86c717d-8830-4a04-81ae-c23a7a2f9c0c",
              "leftValue": "={{ $json.validation_status }}",
              "rightValue": "VALID",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2896,
        16
      ],
      "id": "2b05b674-4d25-4c5e-a194-73e45119a472",
      "name": "If: Is Valid"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_hash": "={{ $('Build OpenAI Request').item.json.source_hash }}",
            "llm_output_raw": "={{ $('Parse + Validate').item.json.llm_output_raw }}",
            "validation_status": "={{ $('Parse + Validate').item.json.validation_status }}",
            "last_error": "={{ $('Parse + Validate').item.json.last_error }}",
            "state": "={{ $('Parse + Validate').item.json.state }}",
            "generation_attempt": "={{ $('Parse + Validate').item.json.generation_attempt }}",
            "updated_at": "={{ $('Parse + Validate').item.json.updated_at }}",
            "source_title": "={{$('Retry Logic').item.json.source_title}}"
          },
          "matchingColumns": [
            "source_hash"
          ],
          "schema": [
            {
              "id": "source_hash",
              "displayName": "source_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_title",
              "displayName": "source_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_published_at",
              "displayName": "source_published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_output_raw",
              "displayName": "llm_output_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validation_status",
              "displayName": "validation_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_attempt",
              "displayName": "generation_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approval_form_url",
              "displayName": "approval_form_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft_destination_url",
              "displayName": "draft_destination_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3104,
        16
      ],
      "id": "a837ec2a-bca3-46f3-a882-788449c3f1cb",
      "name": "Sheet: Upsert Generated",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3QUFNRJGXgt1HPv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const upstream = item.json;  // ← use current item, not named node first item\n  const hash = upstream.source_hash;\n  const title = upstream.source_title || 'Unknown Title';\n  const linkedinPost = upstream.linkedin_post || '';\n  const twitterThread = upstream.twitter_thread || [];\n  const titleOptions = upstream.title_options || [];\n  const hashtags = upstream.hashtags || [];\n\n  const emailBody = `\nNew content item ready for approval.\nSource Hash: ${hash}\nTitle: ${title}\n--- TWITTER THREAD ---\n${twitterThread.join('\\n\\n')}\n--- LINKEDIN POST ---\n${linkedinPost}\n--- TITLE OPTIONS ---\n${titleOptions.join('\\n')}\n--- HASHTAGS ---\n${hashtags.join(' ')}\nTo approve or reject, update the state column in your Google Sheet:\nAPPROVED or REJECTED\nSheet: https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk\n  `.trim();\n\n  return {\n    json: {\n      ...upstream,\n      source_title: title,\n      twitter_thread: twitterThread,\n      linkedin_post: linkedinPost,\n      title_options: titleOptions,\n      hashtags: hashtags,\n      state: 'PENDING_APPROVAL',\n      updated_at: new Date().toISOString(),\n      email_body: emailBody\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        16
      ],
      "id": "a64421ad-6bca-4e01-aec7-1c23342dc172",
      "name": "Set Pending Approval"
    },
    {
      "parameters": {
        "sendTo": "bbketel@gmail.com",
        "subject": "={{$('Set Pending Approval').item.json.source_title}} — Ready for Approval",
        "message": "={{ $('Set Pending Approval').item.json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3488,
        16
      ],
      "id": "8e75bd59-ae8b-4371-bc5d-355c95b71f17",
      "name": "Gmail: Approval Notice",
      "webhookId": "63036289-4027-4b1e-8252-c09491cbf64b",
      "credentials": {
        "gmailOAuth2": {
          "id": "N1f41FaPUowMmF09",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_hash": "={{ $('Set Pending Approval').item.json.source_hash }}",
            "state": "PENDING_APPROVAL",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "source_hash"
          ],
          "schema": [
            {
              "id": "source_hash",
              "displayName": "source_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_title",
              "displayName": "source_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_published_at",
              "displayName": "source_published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_output_raw",
              "displayName": "llm_output_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validation_status",
              "displayName": "validation_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_attempt",
              "displayName": "generation_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approval_form_url",
              "displayName": "approval_form_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft_destination_url",
              "displayName": "draft_destination_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3680,
        16
      ],
      "id": "1dd9bd5b-a55b-4bb9-a1c4-c63cefa1bffb",
      "name": "Sheet: Upsert Pending",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3QUFNRJGXgt1HPv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_hash": "={{ $json.source_hash }}",
            "state": "={{ $json.state }}",
            "retry_count": "={{ $json.retry_count }}",
            "last_error": "={{ $json.last_error }}",
            "updated_at": "={{ $json.updated_at }}"
          },
          "matchingColumns": [
            "source_hash"
          ],
          "schema": [
            {
              "id": "source_hash",
              "displayName": "source_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_title",
              "displayName": "source_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_published_at",
              "displayName": "source_published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_output_raw",
              "displayName": "llm_output_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validation_status",
              "displayName": "validation_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_attempt",
              "displayName": "generation_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approval_form_url",
              "displayName": "approval_form_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft_destination_url",
              "displayName": "draft_destination_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3104,
        192
      ],
      "id": "3b64ac9d-223f-48ff-950c-97f862077926",
      "name": "Sheet: Upsert Quarantined",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3QUFNRJGXgt1HPv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        448
      ],
      "id": "ae0aff8b-23d7-4055-83e9-9e925a083769",
      "name": "Sheet: Read Approved",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3QUFNRJGXgt1HPv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e72dd72-3ae3-405b-978d-f7ca94a3df41",
              "leftValue": "={{ $json.published_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ef8b8861-936f-4d75-8d11-7faf02999f0a",
              "leftValue": "={{ $json.state }}",
              "rightValue": "APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        512
      ],
      "id": "12443d3a-1301-4d45-902f-7d354895601a",
      "name": "If: Is Approved",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const title = item.json.source_title || 'Untitled';\n  const hash = item.json.source_hash;\n  const url = item.json.source_url || '';\n  const pubDate = item.json.source_published_at || '';\n\n  let parsed = {};\n  try {\n    parsed = JSON.parse(item.json.llm_output_raw || '{}');\n  } catch(e) {\n    parsed = {};\n  }\n\n  const twitterThread = parsed.twitter_thread || [];\n  const linkedinPost = parsed.linkedin_post || '';\n  const newsletter = parsed.newsletter || '';\n  const titleOptions = parsed.title_options || [];\n  const hashtags = parsed.hashtags || [];\n\n  const docContent = `\nCONTENT DRAFT — ${title}\nGenerated by content-pipeline-v0.1\n\nSource URL: ${url}\nPublished: ${pubDate}\nSource Hash: ${hash}\n\n═══════════════════════════════════\nTWITTER THREAD\n═══════════════════════════════════\n${twitterThread.map((t, i) => `[${i+1}] ${t}`).join('\\n\\n')}\n\n═══════════════════════════════════\nLINKEDIN POST\n═══════════════════════════════════\n${linkedinPost}\n\n═══════════════════════════════════\nNEWSLETTER DRAFT\n═══════════════════════════════════\n${newsletter}\n\n═══════════════════════════════════\nTITLE OPTIONS\n═══════════════════════════════════\n${titleOptions.map((t, i) => `${i+1}. ${t}`).join('\\n')}\n\n═══════════════════════════════════\nHASHTAGS\n═══════════════════════════════════\n${hashtags.join(' ')}\n  `.trim();\n\n  return {\n    json: {\n      ...item.json,\n      doc_title: `[DRAFT] ${title}`,\n      doc_content: docContent\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        448
      ],
      "id": "e705566b-9a6b-4b9b-80b9-e20671986f76",
      "name": "Build Doc Content"
    },
    {
      "parameters": {
        "folderId": "=1OPIoCb8dsQ7yx634_88ZIVF0HXiDVnDH",
        "title": "={{ $json.doc_title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        448
      ],
      "id": "735e0979-0457-4fe5-894d-9dd877a88eb4",
      "name": "Google Docs: Create",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dWV86MC0cwUXLFvc",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "locationChoice": "location",
              "text": "={{ $('Build Doc Content').item.json.doc_content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1008,
        448
      ],
      "id": "39413166-f9b5-4aa2-8f7a-22412290e73c",
      "name": "Google Docs: Update",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "dWV86MC0cwUXLFvc",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1z_vDBKSPRI68KrhgVymzTj1-obtydhN4X4Vj7P7FjVk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "source_hash": "={{ $('Build Doc Content').first().json.source_hash }}",
            "state": "PUBLISHED",
            "published_at": "={{ new Date().toISOString() }}",
            "draft_destination_url": "={{ $('Google Docs: Create').item.json.id }}",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "source_hash"
          ],
          "schema": [
            {
              "id": "source_hash",
              "displayName": "source_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_title",
              "displayName": "source_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_published_at",
              "displayName": "source_published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_version",
              "displayName": "prompt_version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "llm_output_raw",
              "displayName": "llm_output_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validation_status",
              "displayName": "validation_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generation_attempt",
              "displayName": "generation_attempt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approval_form_url",
              "displayName": "approval_form_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft_destination_url",
              "displayName": "draft_destination_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correlation_id",
              "displayName": "correlation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        448
      ],
      "id": "4c27c00b-a140-433d-9c6a-4629eed5a867",
      "name": "Sheet: Upsert Published",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O3QUFNRJGXgt1HPv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "5213c365-643a-448e-8784-6d9ed553afd3",
      "name": "Pipeline: Main"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        448
      ],
      "id": "e432da92-1344-4528-8b17-18997b20b21f",
      "name": "Pipeline: Publish"
    },
    {
      "parameters": {
        "content": "ARTICLE BODY FETCH (V0.2)\nFetches full article HTML from source_url and strips tags to extract clean body text. Adds article_body and article_fetch_status fields. On fetch failure, pipeline degrades gracefully to title-only generation. Pipeline fields are explicitly re-anchored after each HTTP node to prevent n8n response overwrite behavior.",
        "height": 208,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -272
      ],
      "typeVersion": 1,
      "id": "893e4f66-a131-4193-b1df-199db458065f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d8ec7f08-25b8-4ad7-ab09-211b87e48315",
              "leftValue": "={{ $json.source_url }}",
              "rightValue": "youtube.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6febb275-6159-48a2-b585-84879c77aadf",
              "leftValue": "={{ $json.source_url }}",
              "rightValue": "youtu.be",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        0
      ],
      "id": "5b3e0b3b-5397-47b6-abb5-31fc94e71e7b",
      "name": "If: Source Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://content-repurposing-pipeline-production.up.railway.app/transcript",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.source_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1552,
        -48
      ],
      "id": "43660aaf-aee3-4f37-ae33-8e9c33f84007",
      "name": "YouTube Fetch",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const pipelineFields = $('Init: Full Fields').item.json;\nconst execResult = $input.item.json;\n\nconst transcript = execResult.transcript || '';\nconst hasError = execResult.error && execResult.error.length > 0;\n\nlet articleBody = '';\nlet fetchStatus = '';\n\nif (!hasError && transcript.trim().length > 0) {\n  articleBody = transcript.trim();\n  fetchStatus = 'success';\n} else {\n  articleBody = '';\n  fetchStatus = 'failed';\n}\n\nreturn {\n  json: {\n    ...pipelineFields,\n    article_body: articleBody,\n    article_fetch_status: fetchStatus,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        -48
      ],
      "id": "5a1f4dec-dd3a-45db-9932-e14c2e72a679",
      "name": "Transcript Clean"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: 'https://techcrunch.com/feed/' } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "664cfbba-4bab-419d-a215-8b713ca81b8a",
      "name": "Feed Sources"
    }
  ],
  "pinData": {},
  "connections": {
    "Retry Logic": {
      "main": [
        [
          {
            "node": "If: Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Fetch": {
      "main": [
        [
          {
            "node": "XML Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML Parse": {
      "main": [
        [
          {
            "node": "Sheet: Read All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Read All Rows": {
      "main": [
        [
          {
            "node": "Dedup Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Gate": {
      "main": [
        [
          {
            "node": "If: Is New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is New": {
      "main": [
        [
          {
            "node": "Init: Full Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init: Full Fields": {
      "main": [
        [
          {
            "node": "If: Source Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Fetch": {
      "main": [
        [
          {
            "node": "HTML Strip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Strip": {
      "main": [
        [
          {
            "node": "Sheet: Upsert New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Upsert New": {
      "main": [
        [
          {
            "node": "Preprocess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preprocess": {
      "main": [
        [
          {
            "node": "Build OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Request": {
      "main": [
        [
          {
            "node": "OpenAI: Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate": {
      "main": [
        [
          {
            "node": "Parse + Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Validate": {
      "main": [
        [
          {
            "node": "Retry Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is Valid": {
      "main": [
        [
          {
            "node": "Sheet: Upsert Generated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheet: Upsert Quarantined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Upsert Generated": {
      "main": [
        [
          {
            "node": "Set Pending Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Pending Approval": {
      "main": [
        [
          {
            "node": "Gmail: Approval Notice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Approval Notice": {
      "main": [
        [
          {
            "node": "Sheet: Upsert Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Read Approved": {
      "main": [
        [
          {
            "node": "If: Is Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is Approved": {
      "main": [
        [
          {
            "node": "Build Doc Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Doc Content": {
      "main": [
        [
          {
            "node": "Google Docs: Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs: Create": {
      "main": [
        [
          {
            "node": "Google Docs: Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs: Update": {
      "main": [
        [
          {
            "node": "Sheet: Upsert Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline: Main": {
      "main": [
        [
          {
            "node": "Feed Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline: Publish": {
      "main": [
        [
          {
            "node": "Sheet: Read Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Source Type": {
      "main": [
        [
          {
            "node": "YouTube Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Article Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Fetch": {
      "main": [
        [
          {
            "node": "Transcript Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Clean": {
      "main": [
        [
          {
            "node": "Sheet: Upsert New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed Sources": {
      "main": [
        [
          {
            "node": "RSS Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7c805f29-0fce-48fa-bf85-5ba3075baf6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b89932af83368057478ef2697882d70617d4c9d65f4902e09ac011f3816b2ec9"
  },
  "id": "IjVMZslcxN2mDNqw",
  "tags": []
}